

.dropdown{
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 20%;
    margin:0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
    font-family: "Roboto", arial, sans-serif;
    
}

/*Filtro de precio*/
#time-range {
    width: 600px;
    margin: 0 auto;
    color: #CCCCCC;
    font-weight: 300;
}

.slider-time,
.slider-time2 {
    font-weight: 400;
}

.flat-slider.ui-corner-all,
.flat-slider .ui-corner-all {
    border-radius: 0;
}

.flat-slider.ui-slider {
    border: 0;
    background: #f7d2cc;
    border-radius: 6px;
}

.flat-slider.ui-slider-horizontal {
    height: 6px;
}

.flat-slider.ui-slider-vertical {
    height: 15em;
    width: 6px;
}

.flat-slider .ui-slider-handle {
    width: 22px;
    height: 22px;
    background: #fff200;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.15);
}

.flat-slider.ui-slider-horizontal .ui-slider-handle {
    top: 50%;
    margin-top: -11px;
}

.flat-slider.ui-slider-vertical .ui-slider-handle {
    left: 50%;
    margin-left: -11px;
}

.flat-slider .ui-slider-handle:hover {
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.35);
}

.flat-slider .ui-slider-range {
    border: 0;
    border-radius: 6;
    background: #f99;
}

.flat-slider.ui-slider-horizontal .ui-slider-range {
    top: 0;
    height: 6px;
}

.flat-slider.ui-slider-vertical .ui-slider-range {
    left: 0;
    width: 6px;
}

.box {
    display: inline-block;
    width: 32px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    border: 1px solid black;
    border-radius: 3px;
    color: #FFFFFF;
    margin: 24px 1px 4px 1px;
}
 