@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');
@import url(https://fonts.googleapis.com/css?family=Roboto:300);
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap'); 
#iconomail{
  background-color: #1a237e;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

#robotAcostado{
  height:400px;
  margin-left: 950px;
}

/*
#ntext{

  color:white;
  
  font-family: 'Roboto', sans-serif;
}

#ntext:focus{
  color: grey;
}*/

.navbar-nav.navbar-center {
  position: absolute;
  left: 50%;
  transform: translatex(-50%);

}

.navbar-nav.navbar-left {
  position: absolute;
  left: 100%;
  transform: translatex(-150%);
}

.navbar-nav.navbar-right {
  position: absolute;
  right: 50%;
  transform: translatex(-150%);
}

#icono{
  width:100px;
  height:auto;
  transform: translatex(30%);
}

#prueba{
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 20%;
  margin:0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
  font-family: "Roboto", arial, sans-serif;
}

#navbar{
  /*background: #0575E6; 
  background: -webkit-linear-gradient(to bottom, #021B79, #0575E6);  
  background: linear-gradient(to bottom,#0575E6,#021B79);
  */
  /*
  background: #000428;  
  background: -webkit-linear-gradient(to top, #004e92, #000428); 
  background: linear-gradient(to top, #004e92, #000428); 
  */
  /*
  background: #4b6cb7;  
  background: -webkit-linear-gradient(to top, #182848, #4b6cb7);  
  background: linear-gradient(to top, #182848, #4b6cb7); 
  */
  opacity: 10;

}


/*
#botonEncuesta{
  background-color: #1a237e;
  color:white;
  width:200px;
  height:50px;
  font-size: 15px;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin: 10px;
}*/

.botonesLogin {
  background-color: #1a237e;
  color:white;
  width:100px;
  height:50px;
  font-size: 15px;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin: 10px;
}

#Marvin{
  margin-left: 600px;
}

h4 {
font-family: 'Orbitron', sans-serif;
}

h2 {
  color: #1a237e;
  font-family: 'Orbitron', sans-serif;
  font-size: 50px;
}


#centrado {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

#centradoHorizontal{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  justify-content: center;
  align-items: center;
}

#fondo {
  background: #56CCF2;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #2F80ED, #56CCF2);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #2F80ED, #56CCF2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-repeat: no-repeat ;
}

#contenido{
  width:100%;
  margin: 3% 10% 0 auto; 

}